In [1]:
import pandas as pd

from script_example import *

In [4]:
df = create_example()
df

  time1        time2           Stage   Final  Vencedor
0   PSG    Barcelona  Fase-de-Grupos  [2, 1]       PSG
1   PSG  Real Madrid  Fase-de-Grupos  [1, 1]    Empate
2   PSG      Chelsea  Fase-de-Grupos  [3, 1]       PSG
3   PSG    Liverpool   Eliminatórias  [5, 4]       PSG
4   PSG     Juventus           Final  [0, 1]  Juventus

In [5]:
def create_score_book(dataframe):
    
    score_book = {}
    
    t1 = list(dataframe["time1"].value_counts().index)
    t2 = list(dataframe["time2"].value_counts().index)
    
    for team in (t1 + list(set(t2) - set(t1))):
        score_book[team] = 0
        
    return score_book

def get_points(stage):
    
    if stage == "Fase-de-Grupos":
        return 1
    
    elif stage == "Eliminatórias":
        return 2
    
    elif stage == "Final":
        return 5
    
def performance(df):

    score_book = create_score_book(df)
    
    for i in range(df.shape[0]):

        stage = (df["Stage"].loc[i])
        winner = (df["Vencedor"].loc[i])

        if winner != "Empate":

            score_book[winner] += get_points(stage)
            
    return score_book

In [6]:
score_book = performance(df)
score_book

{'PSG': 4,
 'Chelsea': 0,
 'Real Madrid': 0,
 'Barcelona': 0,
 'Juventus': 5,
 'Liverpool': 0}